<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<%- include('../partials/_nav') %>
<%- include('../partials/_flash') %>

<h1><%= title %></h1>

<form action="<%= event.eventname ? '/events/' + event.eventname : '/events' %>" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">

  <label>Name</label><br>
  <input
    type="text"
    name="eventname"
    value="<%= event.eventname || '' %>"
    required
  ><br><br>

  <label>Type</label><br>
  <input
    type="text"
    name="eventtype"
    value="<%= event.eventtype || '' %>"
  ><br><br>

  <label>Recurrence Pattern</label><br>
  <input
    type="text"
    name="eventrecurrencepattern"
    value="<%= event.eventrecurrencepattern || '' %>"
  ><br><br>

  <label>Default Capacity</label><br>
  <input
    type="number"
    name="eventdefaultcapacity"
    value="<%= event.eventdefaultcapacity || '' %>"
  ><br><br>

  <label>Description</label><br>
  <textarea name="eventdescription"><%= event.eventdescription || '' %></textarea><br><br>

  <button type="submit">
    <%= event.eventname ? "Update Event" : "Create Event" %>
  </button>
</form>

</body>
</html>
